In [1]:
!pip install findspark

Requirement already satisfied: findspark in /usr/local/lib/python3.6/site-packages (1.3.0)
You are using pip version 10.0.1, however version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
import findspark
findspark.init()
findspark.find()
import pyspark

In [3]:
import sys
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession, Row
from pyspark.sql.functions import udf, array, col
from pyspark.sql.types import StructType, StructField, StringType
import pandas as pd
import random

#### LOAD SPARK SESSION

In [4]:
MONGODB_INPUT_URI = "mongodb://heroku_kvptfcm8:vbekldoic9poi92kkp810rvk7@ds141185.mlab.com:41185/heroku_kvptfcm8.runs"
MONGO_OUTPUT_URI = "mongodb://heroku_kvptfcm8:vbekldoic9poi92kkp810rvk7@ds141185.mlab.com:41185/heroku_kvptfcm8.dummy_write"
spark = SparkSession.builder.config("spark.mongodb.input.uri", MONGODB_INPUT_URI).config("spark.mongodb.output.uri", MONGO_OUTPUT_URI).config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.12:2.4.0').getOrCreate()
messages_df = spark.read.format("com.mongodb.spark.sql.DefaultSource").load()
pandas = messages_df.toPandas() 
#messages_df is a spark df whereas pandas is a pandas dataframe. For a single host functionality, pandas df has more utility than spark df
#Issue with sql filter commands, hence resorting to pandas.
#Our spark cluster contains of a single host [local system], hence we will not notice any performance difference between a pandas dataframe and a spark sql dataframe

In [5]:
SYMBOLS_LIST = ['BTC.X', 'BSV.X', 'BCH.X', 'LTC.X', 'ETH.X', 'DOGE.X']

In [6]:
messages_df.printSchema()

root
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)
 |-- body: string (nullable = true)
 |-- conversation: struct (nullable = true)
 |    |-- parent_message_id: integer (nullable = true)
 |    |-- in_reply_to_message_id: null (nullable = true)
 |    |-- parent: boolean (nullable = true)
 |    |-- replies: integer (nullable = true)
 |-- created_at: string (nullable = true)
 |-- entities: struct (nullable = true)
 |    |-- chart: struct (nullable = true)
 |    |    |-- thumb: string (nullable = true)
 |    |    |-- large: string (nullable = true)
 |    |    |-- original: string (nullable = true)
 |    |    |-- url: string (nullable = true)
 |    |-- sentiment: struct (nullable = true)
 |    |    |-- basic: string (nullable = true)
 |-- filters: struct (nullable = true)
 |    |-- day_counts: integer (nullable = true)
 |    |-- official_api: boolean (nullable = true)
 |-- id: integer (nullable = true)
 |-- likes: struct (nullable = true)
 |    |-- total: integer (nullable = true)
 |    |-- user_ids: array (nullable = true)
 |    |    |-- element: integer (containsNull = true)
 |-- links: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- title: string (nullable = true)
 |    |    |-- url: string (nullable = true)
 |    |    |-- shortened_url: string (nullable = true)
 |    |    |-- shortened_expanded_url: string (nullable = true)
 |    |    |-- description: string (nullable = true)
 |    |    |-- image: string (nullable = true)
 |    |    |-- created_at: string (nullable = true)
 |    |    |-- video_url: string (nullable = true)
 |    |    |-- source: struct (nullable = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |    |-- website: string (nullable = true)
 |-- mentioned_users: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- reshares: struct (nullable = true)
 |    |-- reshared_count: integer (nullable = true)
 |    |-- user_ids: array (nullable = true)
 |    |    |-- element: integer (containsNull = true)
 |-- source: struct (nullable = true)
 |    |-- id: integer (nullable = true)
 |    |-- title: string (nullable = true)
 |    |-- url: string (nullable = true)
 |-- symbols: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- aliases: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- id: integer (nullable = true)
 |    |    |-- is_following: boolean (nullable = true)
 |    |    |-- symbol: string (nullable = true)
 |    |    |-- title: string (nullable = true)
 |    |    |-- watchlist_count: integer (nullable = true)
 |-- user: struct (nullable = true)
 |    |-- avatar_url: string (nullable = true)
 |    |-- avatar_url_ssl: string (nullable = true)
 |    |-- classification: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- followers: integer (nullable = true)
 |    |-- following: integer (nullable = true)
 |    |-- id: integer (nullable = true)
 |    |-- ideas: integer (nullable = true)
 |    |-- identity: string (nullable = true)
 |    |-- join_date: string (nullable = true)
 |    |-- like_count: integer (nullable = true)
 |    |-- name: string (nullable = true)
 |    |-- official: boolean (nullable = true)
 |    |-- plus_tier: string (nullable = true)
 |    |-- premium_room: string (nullable = true)
 |    |-- trade_app: boolean (nullable = true)
 |    |-- username: string (nullable = true)
 |    |-- watchlist_stocks_count: integer (nullable = true)

### Create new dataframe with only required columns and filtered rows

In [7]:
required = messages_df[['_id','body','created_at','entities.sentiment','symbols.symbol', 'likes.total', 'reshares.reshared_count']].dropna(subset=['_id','body','created_at','symbol']).toPandas()
required['created_at'] = pd.to_datetime(required['created_at'])

required['total'].fillna(value=0, inplace=True)
required['reshared_count'].fillna(value=0, inplace=True)
required['interaction_count'] = required['total'] + required['reshared_count']

required = required[['_id', 'body', 'created_at', 'sentiment', 'symbol', 'interaction_count']]

#Encoding sentiment
required['sentiment'].fillna(value=0, inplace=True)

required.loc[required['sentiment'] == Row(basic="Bearish"),'sentiment']=1
required.loc[required['sentiment'] == Row(basic="Bullish"),'sentiment']=2
#Not removing null values for sentiment. Neutral tweets could still contribute to the underlying signal

#### Count of valid tweets/day

In [8]:
required['created_at'].dt.normalize().value_counts().sort_index()

2020-03-08 00:00:00+00:00       1
2020-03-09 00:00:00+00:00       1
2020-03-10 00:00:00+00:00       1
2020-03-11 00:00:00+00:00       1
2020-03-12 00:00:00+00:00       1
2020-03-13 00:00:00+00:00       3
2020-03-14 00:00:00+00:00       4
2020-03-15 00:00:00+00:00       2
2020-03-16 00:00:00+00:00       4
2020-03-17 00:00:00+00:00       7
2020-03-18 00:00:00+00:00       9
2020-03-19 00:00:00+00:00      25
2020-03-20 00:00:00+00:00      19
2020-03-21 00:00:00+00:00      29
2020-03-22 00:00:00+00:00     159
2020-03-23 00:00:00+00:00     400
2020-03-24 00:00:00+00:00     697
2020-03-25 00:00:00+00:00     956
2020-03-26 00:00:00+00:00    1074
2020-03-27 00:00:00+00:00    1722
2020-03-28 00:00:00+00:00    2626
2020-03-29 00:00:00+00:00    1709
2020-03-30 00:00:00+00:00    2099
2020-03-31 00:00:00+00:00    1539
2020-04-01 00:00:00+00:00    1831
2020-04-02 00:00:00+00:00    1912
2020-04-03 00:00:00+00:00    2032
2020-04-04 00:00:00+00:00    1223
2020-04-05 00:00:00+00:00    1041
2020-04-06 00:00:00+00:00    1183
2020-04-07 00:00:00+00:00    1860
2020-04-08 00:00:00+00:00    1931
2020-04-09 00:00:00+00:00    1384
2020-04-10 00:00:00+00:00    2318
2020-04-11 00:00:00+00:00    1784
2020-04-12 00:00:00+00:00    2123
2020-04-13 00:00:00+00:00    2610
2020-04-14 00:00:00+00:00    1836
2020-04-15 00:00:00+00:00    1227
2020-04-16 00:00:00+00:00    1755
2020-04-17 00:00:00+00:00     827
2020-04-18 00:00:00+00:00     101
Name: created_at, dtype: int64

#### Distribution of sentiments

In [9]:
required['sentiment'].value_counts().sort_index()

0    21538
1     4226
2    16302
Name: sentiment, dtype: int64

In [10]:
#df.write.format("mongo").mode("append").option("database","DB_NAME").option("collection", "COLLECTION_NAME").save() 
#issue here without a defined schema : prefer to perform analysis on notebook and store on localhost

### Windowing

#### Reduce symbols to just one symbol

In [11]:
# TODO: groupby (windowing) should be done over symbols and timestamp!!! 
# but what to do for those with 3 symbols? can't group with 3 symbols.
# randomly pick one? note that the tweets are duplicated alr
# also removed [] as list is unhashable when using groupby

def pick_one_symbol(symbols):
    index = 0
    while (index < len(symbols)):
        if (symbols[index] in SYMBOLS_LIST):
            return symbols[index]
        index += 1
    
    return None
        
required['symbol'] = required['symbol'].apply(lambda symbols: pick_one_symbol(symbols))
# required = required.dropna(subset=['symbol'])
required

,_id,body,created_at,sentiment,symbol,interaction_count
0,"(5e7ad06b80f71592bb059da0,)",$BTC.X When Stalin and the Red Army were closi...,2020-03-25 03:29:55+00:00,0,BTC.X,0.0
1,"(5e7ad06b80f71592bb059da1,)",$BTC.X Bitcoin&#39;s role in South Korea&#39;s...,2020-03-25 03:29:20+00:00,0,BTC.X,0.0
2,"(5e7ad06b80f71592bb059da2,)",$BTC.X Mike Novogratz Says Gold&#39;s Rally Is...,2020-03-25 03:26:57+00:00,0,BTC.X,0.0
3,"(5e7ad06b80f71592bb059da3,)",$BTC.X whats this &quot;digital dollar nonsens...,2020-03-25 03:22:51+00:00,0,BTC.X,0.0
4,"(5e7ad06b80f71592bb059da4,)",$BTC.X holding up nicely!,2020-03-25 03:17:26+00:00,2,BTC.X,0.0
...,...,...,...,...,...,...
42061,"(5e9a8297267ccecbb4c60dd1,)",$LINK.X https://stocktwits.com/r/linklongtermh...,2020-04-16 07:28:39+00:00,2,BTC.X,1.0
42062,"(5e9a8297267ccecbb4c60dd2,)",$BTC.X . \n \n$BSV.X $LTC.X $ETC.X,2020-04-16 07:19:20+00:00,0,BTC.X,8.0
42063,"(5e9a8297267ccecbb4c60dd3,)",$BTC.X $LTC.X $XRP.X When you donâ€™t qualify fo...,2020-04-16 05:47:58+00:00,2,BTC.X,2.0
42064,"(5e9a8297267ccecbb4c60dd4,)",$LTC.X $OSTK $BTC.X $ETH.X \nSEC Chairman Jay ...,2020-04-16 04:00:45+00:00,0,BTC.X,4.0
42065,"(5e9a8297267ccecbb4c60dd5,)",$LTC.X 43 ðŸ¤”,2020-04-16 02:11:25+00:00,2,LTC.X,1.0

#### Create new columns: interaction count, weighted sentiments

In [12]:
# Use tweets' likes/reshares to weigh grouped sentiments

# some tweets may have 0 interaction count, and we don't want to obliterate the sentiment data when multiplying
required.loc[required['interaction_count'] ==0,'interaction_count']= 1

# Ignore null sentiments in weighing: if sentiment is zero, put interaction count as 0, weighted sentiment as 0
required.loc[required['sentiment'] ==0,'interaction_count']= 0

required['weighted_sentiment'] = required['sentiment'] * required['interaction_count']

required['sum_group_interaction'] = required['interaction_count'].groupby([required.created_at.dt.date, 
                                                                    required.created_at.dt.hour, 
                                                                          required.symbol]).transform('sum')

required['sum_group_weighted_sentiment'] = required['weighted_sentiment'].groupby([required.created_at.dt.date, 
                                                                    required.created_at.dt.hour, 
                                                                                   required.symbol]).transform('sum')

required['overall_group_sentiment'] = required['sum_group_weighted_sentiment'] / required['sum_group_interaction']


required['overall_group_sentiment'].fillna(value=0, inplace=True)

In [13]:
required = required[['_id','symbol', 'created_at', 'overall_group_sentiment']]

required['volume_tweets'] = required['_id'].groupby([required.created_at.dt.date, 
                                                     required.created_at.dt.hour,
                                                    required.symbol]).transform('count')

required

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,_id,symbol,created_at,overall_group_sentiment,volume_tweets
0,"(5e7ad06b80f71592bb059da0,)",BTC.X,2020-03-25 03:29:55+00:00,1.666667,13.0
1,"(5e7ad06b80f71592bb059da1,)",BTC.X,2020-03-25 03:29:20+00:00,1.666667,13.0
2,"(5e7ad06b80f71592bb059da2,)",BTC.X,2020-03-25 03:26:57+00:00,1.666667,13.0
3,"(5e7ad06b80f71592bb059da3,)",BTC.X,2020-03-25 03:22:51+00:00,1.666667,13.0
4,"(5e7ad06b80f71592bb059da4,)",BTC.X,2020-03-25 03:17:26+00:00,1.666667,13.0
...,...,...,...,...,...
42061,"(5e9a8297267ccecbb4c60dd1,)",BTC.X,2020-04-16 07:28:39+00:00,1.904110,104.0
42062,"(5e9a8297267ccecbb4c60dd2,)",BTC.X,2020-04-16 07:19:20+00:00,1.904110,104.0
42063,"(5e9a8297267ccecbb4c60dd3,)",BTC.X,2020-04-16 05:47:58+00:00,2.000000,28.0
42064,"(5e9a8297267ccecbb4c60dd4,)",BTC.X,2020-04-16 04:00:45+00:00,1.965517,58.0
42065,"(5e9a8297267ccecbb4c60dd5,)",LTC.X,2020-04-16 02:11:25+00:00,2.000000,44.0

In [14]:
grouped = required.groupby([required.created_at.dt.date, required.created_at.dt.hour,required.symbol])

#### Get each group

In [15]:
first_row_groups = grouped.first()
groups_df = pd.DataFrame(first_row_groups)
groups_df.index = groups_df.index.set_names(['day', 'hour', 'symbol_a'])
groups_df = groups_df.reset_index()

def pad_zero(x):
    return '0' + str(x) if (x < 10) else str(x)

groups_df['hour'] = groups_df['hour'].apply(lambda x: pad_zero(x))
groups_df['timestamp'] = pd.to_datetime(groups_df['day'].astype(str) + ' ' +
                                  groups_df['hour'].astype(str), format = '%Y-%m-%d %H', utc = True)
                                  
groups_df = groups_df.reset_index()[['symbol', 'timestamp', 'overall_group_sentiment', 'volume_tweets']]
groups_df

      symbol                 timestamp  overall_group_sentiment  volume_tweets
0      BTC.X 2020-03-14 17:00:00+00:00                 0.000000            2.0
1      BTC.X 2020-03-18 09:00:00+00:00                 0.000000            1.0
2      BTC.X 2020-03-18 13:00:00+00:00                 0.000000            1.0
3      BTC.X 2020-03-19 00:00:00+00:00                 2.000000            1.0
4      BTC.X 2020-03-19 01:00:00+00:00                 0.000000            1.0
...      ...                       ...                      ...            ...
1730   BTC.X 2020-04-18 03:00:00+00:00                 1.933333           17.0
1731   ETH.X 2020-04-18 03:00:00+00:00                 0.000000            1.0
1732   BTC.X 2020-04-18 04:00:00+00:00                 1.500000           16.0
1733  DOGE.X 2020-04-18 04:00:00+00:00                 0.000000            2.0
1734   ETH.X 2020-04-18 04:00:00+00:00                 2.000000            1.0

[1735 rows x 4 columns]

#### Summary of groups

In [16]:
print("Summarizing number of groups per symbol")
print(groups_df['symbol'].value_counts().sort_index())

print("\nSummarizing timestamps")
print(groups_df['timestamp'].value_counts().sort_index())

Summarizing number of groups per symbol
BCH.X     131
BSV.X     238
BTC.X     589
DOGE.X    140
ETH.X     392
LTC.X     245
Name: symbol, dtype: int64

Summarizing timestamps
2020-03-14 17:00:00+00:00    1
2020-03-18 09:00:00+00:00    1
2020-03-18 13:00:00+00:00    1
2020-03-19 00:00:00+00:00    1
2020-03-19 01:00:00+00:00    1
                            ..
2020-04-18 00:00:00+00:00    4
2020-04-18 01:00:00+00:00    2
2020-04-18 02:00:00+00:00    3
2020-04-18 03:00:00+00:00    2
2020-04-18 04:00:00+00:00    3
Name: timestamp, Length: 644, dtype: int64

### Historical Price Data

In [17]:
BTC_prices = pd.read_csv("data/gemini_BTCUSD_1hr.csv") 
ETH_prices = pd.read_csv("data/gemini_BTCUSD_1hr.csv") 
LTC_prices = pd.read_csv("data/gemini_LTCUSD_1hr.csv") 
BCH_prices = pd.read_csv("data/Bitbay_BCHUSD_1h.csv") 
DOGE_prices = pd.read_csv("data/Yobit_DOGERUR_1h.csv") 

price_df_lists = [BTC_prices, ETH_prices, LTC_prices, BCH_prices, DOGE_prices]

#### Data Cleaning

#### 1. Datetime

In [18]:
# BCH_prices, DOGE_prices can't infer datetime format
for index in range(len(price_df_lists) - 2):
    price_df = price_df_lists[index]
    price_df['Date'] = pd.to_datetime(price_df['Date'], infer_datetime_format = True, utc = True)
    price_df['Date'] = price_df['Date'].fillna(pd.to_datetime(price_df['Unix Timestamp'], utc = True))
    price_df.drop(['Unix Timestamp'], axis=1, inplace=True)

BCH_prices['Date'] = pd.to_datetime(BCH_prices['Date'], format = '%Y-%m-%d %I-%p', utc = True)
DOGE_prices['Date'] = pd.to_datetime(DOGE_prices['Date'], format = '%Y-%m-%d %I-%p', utc = True)

#### 2. Doge (RUR to USD)

In [19]:
RUR_USD = 0.013

DOGE_prices['Open'] = DOGE_prices['Open'].apply(lambda x: x* RUR_USD )  
DOGE_prices['High'] = DOGE_prices['High'].apply(lambda x: x* RUR_USD )  
DOGE_prices['Low'] = DOGE_prices['Low'].apply(lambda x: x* RUR_USD )  
DOGE_prices['Close'] = DOGE_prices['Close'].apply(lambda x: x* RUR_USD)
DOGE_prices.drop(['Volume ERUR'], axis=1, inplace=True)
DOGE_prices.rename(columns={"Volume DOG": "Volume"}, errors="raise", inplace=True)

BCH_prices.drop(['Volume USD'], axis=1, inplace=True)
BCH_prices.rename(columns={"Volume BCH": "Volume"}, errors="raise", inplace=True)

#### 3. Symbols

In [20]:
for index in range(len(price_df_lists)):
    price_df = price_df_lists[index]
    price_df['Symbol'] = price_df['Symbol'].apply(lambda x: SYMBOLS_LIST[index])

In [21]:
prices_df = pd.concat(price_df_lists)

#### Join with price data (tweets k-h earlier)

In [31]:
k_list = [2, 5, 12, 24, 48]
merged_df_k_list = []

In [33]:
for k in k_list:
    groups_df["modified_timestamp"] = groups_df["timestamp"] + pd.DateOffset(hours=k)
    merged_df = groups_df.merge(prices_df, how='left', left_on=["modified_timestamp", "symbol"], right_on=["Date","Symbol"])
    print("Number of unmatched tweet group for k = " + str(k) + ": "+ str(len(merged_df[merged_df["Date"].isnull()].index)))
    print("Number of matched tweet groups for k = " + str(k) + ": "+ str(len(merged_df.index) - len(merged_df[merged_df["Date"].isnull()].index)))
    print("\n")
    merged_df_k_list.append(merged_df)

merged_df_k_list[0]

Number of unmatched tweet group for k = 2: 693
Number of matched tweet groups for k = 2: 1042


Number of unmatched tweet group for k = 5: 698
Number of matched tweet groups for k = 5: 1037


Number of unmatched tweet group for k = 12: 710
Number of matched tweet groups for k = 12: 1025


Number of unmatched tweet group for k = 24: 727
Number of matched tweet groups for k = 24: 1008


Number of unmatched tweet group for k = 48: 775
Number of matched tweet groups for k = 48: 960

,symbol,timestamp,overall_group_sentiment,volume_tweets,modified_timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,BTC.X,2020-03-14 17:00:00+00:00,0.000000,2.0,2020-03-14 19:00:00+00:00,2020-03-14 19:00:00+00:00,BTC.X,5465.84,5502.47,5390.00,5390.04,62.994055
1,BTC.X,2020-03-18 09:00:00+00:00,0.000000,1.0,2020-03-18 11:00:00+00:00,2020-03-18 11:00:00+00:00,BTC.X,5102.97,5181.20,5098.07,5165.00,121.411455
2,BTC.X,2020-03-18 13:00:00+00:00,0.000000,1.0,2020-03-18 15:00:00+00:00,2020-03-18 15:00:00+00:00,BTC.X,5325.71,5391.06,5239.85,5351.49,230.713793
3,BTC.X,2020-03-19 00:00:00+00:00,2.000000,1.0,2020-03-19 02:00:00+00:00,2020-03-19 02:00:00+00:00,BTC.X,5375.03,5383.30,5277.50,5304.75,113.569030
4,BTC.X,2020-03-19 01:00:00+00:00,0.000000,1.0,2020-03-19 03:00:00+00:00,2020-03-19 03:00:00+00:00,BTC.X,5304.75,5348.55,5270.00,5305.00,112.730393
...,...,...,...,...,...,...,...,...,...,...,...,...
1730,BTC.X,2020-04-18 03:00:00+00:00,1.933333,17.0,2020-04-18 05:00:00+00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1731,ETH.X,2020-04-18 03:00:00+00:00,0.000000,1.0,2020-04-18 05:00:00+00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1732,BTC.X,2020-04-18 04:00:00+00:00,1.500000,16.0,2020-04-18 06:00:00+00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1733,DOGE.X,2020-04-18 04:00:00+00:00,0.000000,2.0,2020-04-18 06:00:00+00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1734,ETH.X,2020-04-18 04:00:00+00:00,2.000000,1.0,2020-04-18 06:00:00+00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN

## PERFORM AT END OF SESSION

In [ ]:
spark.stop()